#fwb-directory {
  .action-buttons {
    padding-left: 30px;
  }

  .directory-header {
    flex: 0;
    background-color: var(--mej-header-background);
    border-bottom: 1px solid var(--mej-header-border-color);
    color: var(--mej-sidebar-label-color);
    margin-bottom: 0px;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-left: 20px;

    .header-actions.action-buttons button {
      line-height: 24px;
      background: var(--mej-sidebar-button-background);
      border: 2px groove var(--mej-sidebar-button-border);
    }

    .header-search {
      #fwb-directory-search {
        flex: 1;
        height: var(--form-field-height);
        border: 1px solid var(--mej-sidebar-input-border);
        background: var(--mej-sidebar-input-background);

        &:hover,
        &:focus,
        &:active {
          background: var(--mej-sidebar-input-background-focus);
        }
  
        &::placeholder {
          color: var(--mej-sidebar-input-placeholder-color);
        }
      }

      .header-control {
        flex: 0 0 32px;
        text-align: center;
        position: relative;

        i {
          position: absolute;

          &.fa-plus {
            top: -2px;
            right: -2px;
            font-size: 0.5rem;
            background: black;
            color: var(--color-text-light-highlight);
            padding: 1px;
            border-radius: 4px;
          }  
        }
      }
    }
  }

  .fwb-world-list {
    padding: 0;

    .fwb-world-folder {
      align-items: flex-start;
      justify-content: flex-start;

      &.active {
        background: #cfcdc2;
      }
    }
  }

  .fwb-world-folder > .folder-header {
    border-top: 1px solid var(--mej-sidebar-folder-border-collapsed);
    border-bottom: none;
    width: 100%;
    background: var(--mej-sidebar-folder-background-collapsed);
    flex: 1;
    color: var(--color-text-light-highlight);
  }

  .fwb-world-folder:not(.collapsed) > .folder-header {
    border-top: 1px solid var(--mej-sidebar-folder-border);
    background: var(--mej-sidebar-folder-background);
  }

  .fwb-world-folder.collapsed > .folder-header:not(.customcolor) {
    color: var(--mej-sidebar-folder-color-collapsed);
  }

  .fwb-world-folder .folder-header.context {
    border-top: 1px solid var(--mej-active-color);
    border-bottom: 1px solid var(--mej-active-color);
  }

  .fwb-world-folder .folder-header.context,
  .fwb-world-folder .folder-header.context h3 {
    color: var(--mej-sidebar-folder-context-color);
  }

  .fwb-topic-folder .folder-header {
    background: inherit;
    border: 0px;

    i.icon {
      color: #777;
    }  
  }

  // change icon to closed when collapsed
  .fwb-topic-folder.collapsed > .folder-header i.fa-folder-open:before {
    content: "\f07b";
  }

  .fwb-create-entry.create-button {
    i.fa-atlas {
      color: #555;
    }
    i.fa-plus {
      background: #555;
    }
  }

  .world-contents {
    border-left: 6px solid var(--mej-sidebar-subfolder-border);
    border-bottom: 2px solid var(--mej-sidebar-subfolder-border);
    margin: 0px;
    width: 100%;
    padding-left: 10px;

    .fwb-topic-folder.collapsed .fwb-topic-contents {
      display: none;
    }

    .fwb-topic-contents {
      padding-left: 20px;
      margin: 0px;
    }
  }    

  li.journalentry {
    line-height: 32px;
    border-top: 1px solid var(--mej-sidebar-document-border-top);
    border-bottom: 1px solid var(--mej-sidebar-document-border-botom);
    color: var(--mej-sidebar-document-color);
  }

  .directory.sidebar-tab .fwb-world-list .entry.selected {
    background: rgba(0, 0, 0, 0.03);
  }

  .directory.sidebar-tab .fwb-world-list .entry.selected h4 {
    font-weight: bold;
  }    

  li.journalentry:not(.folder) .entry-name {
    margin: 0 0.25em;
  }

  li.journalentry .entry-name {
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

#journal li.journalentry .entry-name {
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
