#fwb-directory {
  .action-buttons {
    padding-left: 30px;
  }

  .directory-header {
    .header-actions.action-buttons button {
      line-height: 24px;
      background: var(--mej-sidebar-button-background);
      border: 2px groove var(--mej-sidebar-button-border);
    }

    .header-search {
      input {
        height: var(--form-field-height);
        border: 1px solid var(--mej-sidebar-input-border);
        background: var(--mej-sidebar-input-background);
      }

      input:hover,
      input:focus,
      input:active {
        background: var(--mej-sidebar-input-background-focus);
      }

      input::placeholder {
        color: var(--mej-sidebar-input-placeholder-color);
      }
    }
  }

  .directory-item.active {
    background: #cfcdc2;
  }

  .directory-list .directory-item {
    align-items: flex-start;
    justify-content: flex-start;
  }

  li.folder > .folder-header {
    border-top: 1px solid var(--mej-sidebar-folder-border-collapsed);
    border-bottom: none;
    width: 100%;
    background: var(--mej-sidebar-folder-background-collapsed);
    flex: 1;
    color: var(--color-text-light-highlight);
  }

  li.folder:not(.collapsed) > .folder-header {
    border-top: 1px solid var(--mej-sidebar-folder-border);
    background: var(--mej-sidebar-folder-background);
  }

  li.folder.collapsed > .folder-header:not(.customcolor) {
    color: var(--mej-sidebar-folder-color-collapsed);
  }

  li.folder .folder-header.context {
    border-top: 1px solid var(--mej-active-color);
    border-bottom: 1px solid var(--mej-active-color);
  }

  li.folder .folder-header.context,
  li.folder .folder-header.context h3 {
    color: var(--mej-sidebar-folder-context-color);
  }

  .subdirectory {
    border-left: 4px solid var(--mej-sidebar-subfolder-border);
    border-bottom: 4px solid var(--mej-sidebar-subfolder-border);
    margin-bottom: 0px;
    width: 100%;
  }    

  .subdirectory .folder {
    border-left: 6px solid transparent;
    border-color: transparent;
  }

  li.journalentry,
  li.journalentrypage {
    line-height: 32px;
    border-top: 1px solid var(--mej-sidebar-document-border-top);
    border-bottom: 1px solid var(--mej-sidebar-document-border-botom);
    color: var(--mej-sidebar-document-color);
  }

  .directory.sidebar-tab .directory-list .entry.selected {
    background: rgba(0, 0, 0, 0.03);
  }

  .directory.sidebar-tab .directory-list .entry.selected h4 {
    font-weight: bold;
  }    

  li.journalentry:not(.folder) .entry-name {
    margin: 0 0.25em;
  }

  li.journalentry .entry-name {
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

#journal li.journalentry .entry-name {
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
