// the launch button in the top right corner
#fwb-launch {
  background-color: rgba(0,0,0,.5);
  color: var(--color-text-light-highlight);
}

/*
.fwb-main-window > header a.subsheet {
  background: rgba(255, 255, 255, 0.1);
  margin-left: 0px;
  padding-left: 8px;
}

.fwb-main-window > header a.subsheet.first {
  margin-left: 4px;
  padding-left: 4px;
}

.fwb-main-window > header a.subsheet.last {
  padding-right: 4px;
}
*/

.fwb-main-window {  
  .fwb {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    flex-wrap: nowrap;

    // changes when sidebar collapses
    &.collapse {
      .fwb-header .fwb-tab-bar {
        padding-right: 30px;

        #context-menu {
          left: var(--mej-context-x);
          width: 225px;
        }
      }
      .fwb-footer {
        padding-right: 26px;
      }
      #fwb-directory-sidebar {
        flex: 0 0 0px;
        width: 0px;
      }
      #fwb-sidebar-toggle {
        right: 0px;
        top: 4px;
      }
    }

    .fwb-body {
      height: 100%;
      /*overflow: hidden; Can't be hidden due to the sidebar toggle*/
    }
  }

  .fwb-content {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
}

.fwb {
  // Sidebar 
  #fwb-directory-sidebar {
    flex: 0 0 300px;
    width: 300px;
    max-width: 30%;
    height: 100%;
    // TODO: REPLACE THESE VARIABLES
    background: var(--mej-sidebar-background);
    border-left: 1px solid var(--mej-header-border-color);
    transition: width 0.5s, flex 0.5s;

    & > section {
      display: flex !important;
      height: 100%;
    }
  }

  #journal .entry-name > i,
  #fwb-directory .entry-name > i {
    margin-right: 8px;
    margin-left: 4px;
    flex: 0 0 15px;
  }
}
