// by including these files globally we don't have to worry about including in each file
// this is using the additionalData field in vite.config.js
@forward "variables";

// @layer fwb-p;

// use this class to clear off any needed foundry styles
.primevue-only, .application .primevue-only, .application .primevue-only * {
  // all: unset;
  // display: revert;
  // font: inherit;
  // margin: 0;
  // padding: auto;
  
  button {
    width: auto;
  }

  table {
    border: 0px !important;
    border-radius: 0px !important;

    thead {
      background: unset;
      color: unset;
      text-shadow: unset;
      border-bottom: unset;
    }

    // --table-background-color: none;
  }
}