<form>
	<button type="submit">Submit</button>

	<div class="form-group">
		<div>
			<label>Backend URL (from deploy script):</label>
			<input type="text" name="APIURL" value="{{currentURL}}" />
		</div>


	<div>
		<div>
			<label>API Token (from deploy script):</label>
			<input type="text" name="APIToken" value="{{currentAPIToken}}" />
		</div>
	</div>

	<button type="submit">Submit</button>
</form>
