<div id="{{data.componentId}}" class="fwb-tree">
  <ul class="top-node">
    <li>
      <details>
        <summary>First Item</summary>
        <ul>
          <li>First Subitem</li>
          <li>
            <details>
              <summary>Second Subitem</summary>
              <ul>
                <li>First Item
                    <ul>
                      <li>First Subitem</li>
                      <li>Second Subitem</li>
                      <li>Third Subitem</li>
                    </ul>
                </li>
                <li>Second Item</li>
                <li>Third Item</li>
              </ul>
            </details>
          </li>
          <li>Third Subitem</li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Second Item</summary>
        <ul>
          <li>First Item
              <ul>
                <li>First Subitem</li>
                <li>Second Subitem</li>
                <li>Third Subitem</li>
              </ul>
          </li>
          <li>Second Item</li>
          <li>Third Item</li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Third Item</summary>
      </details>
    </li>
  </ul>
</div>
