<div id="{{data.componentId}}" class="fwb-tree">
  <ul>
    <li>First Item
        <ul>
          <li>First Subitem</li>
          <li>Second Subitem</li>
          <li>Third Subitem</li>
        </ul>
    </li>
    <li>Second Item
        <ul>
          <li>First Item
              <ul>
                <li>First Subitem</li>
                <li>Second Subitem</li>
                <li>Third Subitem</li>
              </ul>
          </li>
          <li>Second Item</li>
          <li>Third Item</li>
        </ul>
    </li>
    <li>Third Item</li>
  </ul>
  <input type="text" id="fwb-ta-input" name="{{name}}" value="{{value}}" placeholder="Search...">
  <div id="fwb-ta-dropdown" class="fwb-ta-dropdown"></div>
</div>
