{{#*inline "treeNode"}}
  <li>
    {{#if children.length}}
      {{>treeNodeWithChildren this}}
    {{else}}
      {{text}}
    {{/if}}
  </li>
{{/inline}}

{{#*inline "treeNodeWithChildren"}}
  <details>
    <summary>{{text}}</summary>
    <ul>
      {{#each children}}
        {{> treeNode}}
      {{/each}}
    </ul>
  </details>
{{/inline}}

<div id="{{data.componentId}}" class="fwb-tree">
  <ul class="top-node">
    {{#each data.topNodes}}
      {{> treeNode this}}
    {{/each}}
  </ul>
</div>
