<div id="{{data.componentId}}" class="fwb-typeahead">
  <input type="text" id="fwb-ta-input" name="{{name}}" value="{{value}}" placeholder="Search...">
  <div id="fwb-ta-dropdown" class="fwb-ta-dropdown"></div>
</div>
