{{! Requires:
      WBFooterData: {
      }
}}
<footer class="flexrow navigation fwb-footer">
  <div class="navigate-prev nav-button navigate" title="">
    <i class="fas fa-angle-double-left"></i> 
    <i class="fas fa-book-open"></i>
  </div>
  <div class="page-prev nav-button navigate">
    <i class="fas fa-chevron-left"></i> 
    <i class="fas fa-page"></i>
  </div>
  <div class="flexrow" style="justify-content:center;"></div>
  <div class="page-next nav-button navigate">
    <i class="fas fa-page"></i> 
    <i class="fas fa-chevron-right"></i>
  </div>
  <div class="navigate-next nav-button navigate" title="">
    <i class="fas fa-book-open"></i> 
    <i class="fas fa-angle-double-right"></i>
  </div>
</footer>
