{{! Requires:
  tabs: WindowTab[] 
  bookmarks: Bookmark[]
  collapsed: boolean
  canBack: boolean
  canForward: boolean
  worldId: uuid of current world folder
  WBHeader: function that returns the template name
  WBContent: function that returns the template name
}}

<div class="fwb flexrow {{#if collapsed}}collapse{{/if}}">
  <section class="fwb-body flexcol">
    {{> (WBHeader) WBHeaderData }}
    <div class="fwb-content flexcol editable">
      {{> (WBContent) WBContentData }}
    </div>
  </section>
  <div id="fwb-directory-sidebar">
    {{> (Directory) data=DirectoryData currentWorld=worldId }}
  </div>
</div>