<div class="fwb flexrow {{#if collapsed}}collapse{{/if}}">
  <section class="fwb-body flexcol">
    {{> WBHeader WBHeaderData }}
    <div class="content flexcol editable">
      <section>
      </section>
    </div>
    {{> WBFooter WBFooterData }}
  </section>
  <div class="directory-sidebar"></div>
</div>