{{! Requires:
  tabs: WindowTab[] 
  bookmarks: Bookmark[]
  collapsed: boolean
  canBack: boolean
  canForward: boolean
  WBHeader: function that returns the template name
  WBContent: function that returns the template name
  WBFooter: function that returns the template name
}}

<div class="fwb flexrow {{#if collapsed}}collapse{{/if}}">
  <section class="fwb-body flexcol">
    {{> (WBHeader) WBHeaderData }}
    <div class="fwb-content flexcol editable">
      {{> (WBContent) WBContentData }}
    </div>
    {{> (WBFooter) WBFooterData }}
  </section>
  <div id="fwb-directory-sidebar"></div>
</div>