:root {

}

.fwb-tree {
  // padding: 1em;
  // margin: 0;

  // very first node
  ul.top-node > li {
    &::before, &::after {
      display:none;   // hide bar on the main level
    }
  }

  ul {
    // padding: 0;
    // margin: 0;
    list-style: none;
    line-height: 2em;   // this makes the horizontal lines centered (when combined with the height on the li::before

    li {
      position: relative;
      padding: 0;
      margin: -0.5em 0 0 0;

      // this draws the top-half ot the vertical plus the horizontal tree connector lines
      &::before {
        top: 0px;
        border-bottom: 2px solid gray;
        height: 1em;   // controls vertical position of horizontal lines
      }

      // extends the vertical lines down
      &::after {
        bottom: 0px;
        height: 100%;
      }

      &::before, &::after {
        position: absolute;
        left: -10px;   // pushes them left of the text
        border-left: 2px solid gray;
        content: "";
        width: 8px;   // controls the length of the horizontal lines
      }

      &:last-child::after {
        display: none;   // avoid a little tail at the bottom of the vertical lines
      }
    }

    // add the little open markers
    summary::before {
      position: absolute;
      content: "+";
      text-align: center;
      line-height: 0.80em;
      color: black;
      background: lightslategray;
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50em;
      left: -0.85em;
      top: 0.63em;
      z-index: 999;
    }
  }

  // move the text away from the end of the line
  li {
    padding-left: 2px;
  }

  // the top level
  & > ul {
    summary {
      cursor: pointer;
      list-style: none; 

      &::marker, &::-webkit-details-marker {
        display: none !important;
      }
    }

  }
}

